html{
  font-size: 62.5%;
}
body{
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
.section-cont{
  width: 100%;
  min-height: 10rem;
}
#sec1-main-cont{
  height: 75rem;
  background-image: url('../images/sec1-main-bg.png');
  background-size: cover;
  .main-cover{
    width: 100%;
    height: 100%;
    background-color: rgba(37, 40, 74, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    .main-nav{
      width: 110rem;
      height: 10rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      box-sizing: border-box;
      position: relative;
      display: flex;
      flex-direction: row;
    }
  }
}


.main-logo-link{
  height: 10rem;
  text-decoration: none;
  color: #fff;
  display: flex;
  p{
    text-transform: uppercase;
    margin: auto;
    font-size: 3.2rem;
    font-weight: 800;
    color: #737590;
    span{
      font-weight: 300;
      color: #fff;
    }
  }
}


.main-nav > ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  position: absolute;
  right: 0;
}
.main-nav > ul > li{

}
.main-nav > ul > li > a{
  text-decoration: none;
  height: 10rem;
  display: flex;
}
.main-nav > ul > li > a > p{
  color: #fff;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin: auto 3rem;
  font-weight: 600;
  transition: 0.4s;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
}
.main-nav > ul > li:last-child > a > p{
  margin-right: 0;
}
.main-nav > ul > li:hover > a > p{
  color: $abred;
}
.main-title{
  color: #fff;
  text-transform: uppercase;
  font-size: 6.6rem;
  text-align: center;
  font-weight: 700;
  width: 90rem;
  margin: 14.5rem 0 0 0;
  line-height: 7rem;
}
.main-subtitle{
  color: #fff;
  font-size: 2.2rem;
  width: 97rem;
  line-height: 3.4rem;
  text-align: center;
  margin-top: 2.3rem;
}
#main-button{
  width: 20rem;
  height: 4.6rem;
  border-radius: 0.1rem;
  background-color: $abred;
  margin-top: 5rem;
  transition: 0.4s;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  a{
    width: 20rem;
    height: 4.6rem;
    display: flex;
    color: #fff;
    text-decoration: none;
    p{
      margin: auto;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.3rem;
    }
  }
}


#main-button:hover{
  background-color: #fff;
}
#main-button:hover > a > p{
  color: $abred;
}
#sec2-points{
 display: flex;
 padding: 9rem 0 8rem 0;
}
.points-box{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 120rem;
  flex-direction: row;
}
.pb-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  margin: 2.9rem 4rem 4.1rem 4rem;
  cursor: pointer;
  &:hover{
    .pb-img-cont{
      .pic-cover{
        opacity: 1;
      }
    }
    .pb-img-grey{
      opacity: 0;
    }
  }
}
.pb-img-cont{
  position: relative;
}
.pic-cover{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  opacity: 0;
}
.pb-img{
  margin-bottom: 1.8rem;
}
.pb-img-grey{
  opacity: 1;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}
.pb-item-title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 1.4rem;
}
.pb-item-desc{
  font-size: 1.2rem;
  line-height: 2.1rem;
  margin-top: 2rem;
  font-weight: 400;
  color: #5e5e5e;
  text-align: center;
}
#sec3-images{
 display: flex;
 flex-direction: row;
 .gallery-box{
   display: flex;
   flex-direction: row;
   width: 50%;
   height: 70rem;
   .gallery-box-column{
     width: 50%;
     height: 100%;
     display: flex;
     flex-direction: column;
     .gallery-box-item{
       width: 100%;
       height: 50%;
       background-size: cover;

       .gbi-link{
         width: 100%;
         height: 100%;
         display: flex;
         position: relative;
         transition: 0.4s;
         -moz-transition: 0.4s;
         -webkit-transition: 0.4s;
         overflow: hidden;
         .gbi-item-title{
           color: #fff;
           position: absolute;
           margin-left: auto;
           margin-right: auto;
           left: 0;
           right: 0;
           text-align: center;
           transition: 0.4s;
           -moz-transition: 0.4s;
           -webkit-transition: 0.4s;
         }
         .gbi-it-top{
           width: 11rem;
           top: -10rem;
           font-weight: 700;
           font-size: 1.4rem;
           text-transform: uppercase;
         }
         .gbi-it-sub{
           width: 14rem;
           bottom: -10rem;
           font-weight: 400;
           font-size: 1.4rem;
         }
       }
       &:hover{
         .gbi-link{
           background-color: rgba(232, 68, 69, 0.9);
           .gbi-it-top{
             top: 15.4rem;
           }
           .gbi-it-sub{
             bottom: 15.4rem;
           }
         }
       }
     }
     .gb-item1{
       background-image: url('../images/sec3-photo1.png');
     }
     .gb-item2{
       background-image: url('../images/sec3-photo5.png');
     }
     .gb-item3{
       background-image: url('../images/sec3-photo2.png');
     }
     .gb-item4{
       background-image: url('../images/sec3-photo6.png');
     }
     .gb-item5{
       background-image: url('../images/sec3-photo3.png');
     }
     .gb-item6{
       background-image: url('../images/sec3-photo7.png');
     }
     .gb-item7{
       background-image: url('../images/sec3-photo4.png');
     }
     .gb-item8{
       background-image: url('../images/sec3-photo8.png');
     }
   }
 }
}
#sec4-people{
  display: flex;
  justify-content: center;
  padding: 10rem 0 10rem 0;
  .people-box{
    display: flex;
    flex-direction: row;
    .people-box-item{
      display:flex;
      flex-direction: column;
      margin: 0 1.5rem;
      width: 27rem;
    }
  }
}
.people-photo{
  width: 27rem;
  height: 27rem;
  background-color: green;
  background-size: cover;
}
.pp1{
  background-image: url('../images/sec4-person1.png');
}
.pp2{
  background-image: url('../images/sec4-person2.png');
}
.pp3{
  background-image: url('../images/sec4-person3.png');
}
.pp4{
  background-image: url('../images/sec4-person4.png');
}
h4.person-name{
  font-size: 2.2rem;
  margin-top: 2.8rem;
}
.person-job{
  text-transform: uppercase;
  color: $abred;
  font-size: 1.3rem;
  margin-top: 1.2rem;
}
.person-desc{
  color: #5e5e5e;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin-top: 2.2rem;
}
.person-socials{
  display: flex;
  flex-direction: row;
  margin-top: 2.7rem;
  .ps-item{

    width: 4rem;
    height: 4rem;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    margin-right: 0.4rem;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    border-radius: 0.1rem;
    a{
      display: flex;
      width: 100%;
      height: 100%;
      text-decoration: none;
      i{
        margin: auto;
        color: #c6c6c6;
        font-size: 1.8rem;
      }
    }

    &:hover{
      background-color: $abred;
      i{
        color: #fff;
      }
    }
  }
}
#sec5-opinion{
  background-color: #523549;
}
#sec6-download{
  display: flex;
  justify-content: center;
  padding: 9.6rem 0 10rem 0;
  .download-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    .download-title{
      font-size: 2.9rem;
      font-weight: 300;
      margin: 0;
    }
    .download-sub{
      text-transform: uppercase;
      font-weight: 800;
      font-size: 1.3rem;
      margin-top: 1.6rem;
    }
    .download-button{
      height: 4.6rem;
      width: 28rem;
      border-radius: 0.2rem;
      background-color: $abred;
      margin-top: 3.9rem;
      a{
        width: 100%;
        height: 100%;
        display: flex;
        text-decoration: none;
        p{
          text-transform: uppercase;
          margin: auto;
          color: #fff;
          font-size: 1.3rem;
          font-weight: 600;
        }
      }
    }
  }
}
#sec7-top-footer{
  background-color: #3a3e63;
  display: flex;
  justify-content: center;
  .seven-footer-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 7rem 0 8rem 0;
    min-height: 10rem;
    .seven-footer-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 34rem;
      margin: 0 2.5rem;
      .footer-item-title{
        color: #fff;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        font-size: 1.4rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
      }
      .footer-item-desc{
        font-size: 1.4rem;
        color: #fff;
        max-width: 34rem;
        font-weight: 200;
        text-align: center;
        line-height: 2.2rem;
      }
      .footer-social-box{
        display: flex;
        flex-direction: row;
        .social-box-item{
          width: 4rem;
          height: 4rem;
          box-sizing: border-box;
          border: 2px solid #fff;
          margin: 0 0 0 0.7rem;
          transition: 0.3s;
          &:hover{
            border-color: $abred;
          }
          &:first-child{
            margin: 0;
          }
          a{
            width: 100%;
            height: 100%;
            display: flex;
            color: #fff;
            text-decoration: none;
            i{
              margin: auto;
              color: #fff;
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}
#sec8-bottom-footer{
  width: 100%;
  min-height: 9rem;
  background-color: #313455;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p.sec8-copy{
    color: #787878;
    font-size: 1.4rem;
    margin: 0.4rem 0;
    i{
      color: #FF0000;
      font-size: 1.1rem;
    }
    span{
      color: #fff;
    }
  }
}
